.datepicker {
  font-size: 0.75em;
  margin: 20px auto;
  max-width: 800px;

  .datepicker-semesters {
    display: flex;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      width: calc(100% / 13);
    }

    &::after {
      box-sizing: border-box;
      border-left: 1px solid #ccc;
    }

    .datepicker-semester {
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-bottom: 0;
      box-sizing: border-box;
      display: inline-block;
      padding-top: 8px;
      padding-bottom: 8px;
      width: calc(100% / 13 * 5);

      &:last-child {
        width: calc(100% / 13 * 6);
      }

      &.disabled {
        color: #ccc;
        opacity: 0.75;
      }
    }
  }

  .datepicker-months {
    display: flex;

    .datepicker-month {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      box-sizing: border-box;
      display: inline-block;
      padding-top: 8px;
      padding-bottom: 8px;
      width: calc(100% / 13);

      &:last-child {
        border-right: 1px solid #ccc;
      }

      &.disabled {
        color: #ccc;
        opacity: 0.75;
      }
    }
  }
}
